body{
	height: 100%;
	background-color: #303C74;
}

.vertical-menu{
	position: fixed;
	float: left;
	width: 250px;
	height: 100%;
	background-color: #172357;
}
.links a:hover{
	color: #07103A;
}
.menu{
	text-align: center;
	padding: 2%;
}
